# Dependencies and AdonisJS build
node_modules
build
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Uploaded media
public/uploads/gallery/*
!public/uploads/gallery/.gitkeep
public/uploads/documents/*
!public/uploads/documents/.gitkeep

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
